<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.formatDateTime.min.js"></script>
    <script>
	  var socket = io.connect('http://localhost:3000');
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });

    socket.on('broadcast data', function(data){
      var inbox = document.getElementById('inMsg');
      inbox.value = data.content;

    });

    function send_message(){
      var content = document.getElementById("msg").value;
      var timestamp = $.formatDateTime("yy-m-d h:i:s", new Date());

      socket.emit('broadcast a message', {'title' : "上海现货",'content' : content, 'timestamp' : timestamp});
    }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input type="text" id="msg" name="smg" style="width:200px;">
    <br>
    <button id="send" name="send" onclick="send_message()">发送</button>
    <textarea id="inMsg" name="inMsg"></textarea>
  </body>
</html>